body{
    background-image: url(premium_photo-1709589145461-4797b4e80e9c.jpeg);
    background-position: top-right;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: yellow;
}
h1{
    color: white;
}