#hcodingal{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
}
#pcodingal{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}